<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'cdnlines.html' %}
    {% include 'navbar.html' %}
</head>
<body>


{% block content %}

    <div class="content">
        <div class="section-inner clearfix">

        <p>Welcome {{formsmodel.object.all}} !</p>

        <p>User Details:</p>

        <ul>
            <li>name:{{ request.formsmodel.name }}</li>
            <li>Email:{{ request.formsmodel.email|default:"NA" }}</li>
            <li>sal: {{ requestformsmodel.sal }}</li>
            <li>Loc: {{ request.formsmodel.loc }}</li>
            <li>mobile:{{ request.formsmodel.mobile }}</li>

        </ul>

        <p><a href="{% url 'logout' %}">Logout</a></p>

        </div>
    </div>
{% endblock %}

</body>
</html>