
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form View</title>
    {% include 'cdnlines.html' %}
    {% include 'navbar.html' %}
</head>
<body>
<style>
    body{
        background: slategrey;
        border-inline-color: blue;

    }
    input{
        margin: -10px -10px 10px 10px;
        padding-top: 10px;
        border-radius: 10px;

    }
    h6{
        padding-top: 5px;
        margin-right: 5px;
    }
    form{
        border-radius: 20px;
        border: 2px gray solid;
        margin: 10px 20px 10px 10px;
        padding: 15px;
        box-shadow: 0 0 5px blue, 0 0 10px red;
    }

</style>
<div class="container-fluid">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h2 class="text-center">SignUp with your Details</h2>
            <form method="get">
                {% csrf_token %}
                {{ abcd }}
                <center>
                    <input type="submit" value="submit"class="btn btn-success" >
                    <input type="reset" value="clear" class="btn btn-danger">
                    <h6>Do u have a account?<a href="login.html"> Login Here</a></h6>
                </center>

            </form>

        </div>
    </div>
</div>
</body>
</html>