
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    {% include 'cdnlines.html' %}
    {% include 'navbar.html' %}
</head>
<body>
<div class="row">
    <div class="offset-md-10 col-md-2">
        <input type="submit" value="search" class="btn btn-danger">
    </div>

</div>
<style>

</style>
<div class="container-fluid">
    <div class="row">
        <div class="offset-md-2 col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ ashow}}
            {% if ashow %}
            <table class="table table-bordered text-center">
                <thead class="bg-success text-white">
                <tr>
                    <th>ID</th>
                    <th> Name </th>
                    <th> Email</th>
                    <th> Sal </th>
                    <th> Loc </th>
                    <th> Mobile </th>
                </tr>
                </thead>
                <tbody class="bg-dark text-white">
                 {% for i in ashow %}
                    <td>{{ i.id }}</td>
                    <td> {{ i.name }}</td>
                    <td> {{ i.email }}</td>
                    <td> {{ i.sal }}</td>
                    <td> {{ i.loc }}</td>
                    <td> {{ i.mobile }}</td>

                 {% endfor %}
                </tbody>
            </table>
            {% endif %}

            </form>
        </div>

    </div>

</div>
</body>
</html>